html {
	overflow: -moz-scrollbars-vertical;
	margin: 0;
	padding: 0;
}
body {
	color: #3e4348;
	background:#fff url(../image/top-line-bg.png) 0 0 repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
body, td, th, input, textarea, select, a {
	font-size: 13px;
}
h1, .welcome {
	color: #30363b;
	margin-top: 0;
	margin-bottom: 16px;
	font-size: 23px;
	font-weight: bold;
	padding-bottom: 6px;
	text-shadow: 0 0 1px rgba(0, 0, 0, .01);
	border-bottom: 1px solid #B4C0CD;
}
h1 + .product-filter {
	margin-top: -12px;
}
h2 {
	color: #3e4348;
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 15px;
}
h3,h4,h5,h6{
	font-style:13px;
	font-weight:bold;
	color: #3e4348;
	margin-top: 0px;
	margin-bottom: 15px;
	}
p {
	margin-top: 0px;
	margin-bottom: 10px;
}
a, a:visited, a b {
	color: #1a92c7;
	text-decoration: underline;
	cursor: pointer;
}
a:hover {
	color:#53c300;
	text-decoration: none;
}
a:active {
	color:#fff;
	background:#53c300;
	}
a img {
	border: none;
}
form {
	padding: 0;
	margin: 0;
	display: inline;
}
input[type='text'], input[type='password'], textarea {
	background: #fff;
	border: 1px solid #b4c0cd;
	padding: 3px;
	margin-left: 0px;
	margin-right: 0px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin:0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*min-width:240px;*/
}
input[type="checkbox"]{
	vertical-align:middle;
	position:relative;
	top:-1px;
	}
select {
	border: 1px solid #b4c0cd;
	padding: 2px;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f6f8));
	background-image: -webkit-linear-gradient(top, #ffffff, #f4f6f8);
	background-image:    -moz-linear-gradient(top, #ffffff, #f4f6f8);
	background-image:     -ms-linear-gradient(top, #ffffff, #f4f6f8);
	background-image:      -o-linear-gradient(top, #ffffff, #f4f6f8);
	background-image:         linear-gradient(to bottom, #ffffff, #f4f6f8);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	margin: 0;
}
label {
	cursor: pointer;
}
ul{
	list-style:square outside;
	padding-left:40px;
	}
/* layout */
#container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	position:relative;
}
#column-left {
	float: left;
	width: 210px;
}
#column-right {
	float: right;
	width: 210px;
	margin-top: 4px;
}
#content {
	min-height: 400px;
	margin-bottom: 5px;
	
}
#column-left + #column-right + #content, #column-left + #content {
	margin-left: 240px;
}
#column-right + #content {
	margin-right: 240px;
}
/* header */
#header {
	height: 139px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	position: relative;
	z-index: 99;
}
#header #logo {
	position: absolute;
	top: 63px;
	left: 0px;
}
#header #logo a{
	background:none;
	}
#language {
	position: absolute;
	top: 6px;
	right: 150px;
	width: auto;
	color: #ACAFB1;
	line-height: 17px;
}
#language br{
	display:none;
	}
#language img {
	cursor: pointer;
	vertical-align:middle;
	position:relative;
	top:-2px;
}
#currency {
	
	position: absolute;
	top: 5px;
	right: -1px;
	color: #acafb1;
	line-height: 19px;
	text-shadow:0 -1px 0px #222629;
}
#currency br{display:none;}
#currency a {
	display: inline-block;
	margin:0 2px;
	text-decoration: none;
	color: #acafb1;
	line-height:19px;
	vertical-align:middle;
	position:relative;
	top:-1px;
	background:none;
}
#currency a b {
	font-weight:normal;
	text-decoration: none;
	color: #acafb1;
	background:#181b1d;
	padding: 0 4px;
	border-bottom:1px solid #4f5458;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
#header #cart {
	position: absolute;
	top: 60px;
	left: 320px;
	z-index: 9;
	min-width: 300px;
}
#header #cart .heading {
	float: right;
	cursor:pointer;
	margin-right: 172px;
	/*padding-left: 14px;
	padding-right: 14px;*/
	padding:10px 43px 10px 10px;
	border:1px solid #b4c0cd;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	-webkit-box-shadow:0 1px 5px 0px rgba(0,0,0, .1);
	-moz-box-shadow:0 1px 5px 0px rgba(0,0,0, .1);
	box-shadow:0 1px 5px 0px rgba(0,0,0, .1);
	background: #FFF url(../image/cart-button-bg.png) 0 100% repeat-x;
	position: relative;
	z-index: 1;
}
#header #cart .heading:before{
	content:'.';
	text-indent:-9999px;
	position:absolute;
	height:18px;
	width:13px;
	right:17px;
	top:50%;
	margin-top:-9px;
	background:url(../image/cart-ico.png) 0 0 no-repeat;
	}
#header #cart .heading:hover{
	border-color:#1a92c7;
	}
	#header #cart .heading:hover:before{
		background-position:0 100%;
		}
#header #cart .heading h4 {
	color: #30363b;
	font-size: 15px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
}
#header #cart .heading a {
	color: #1a92c7;
	text-decoration: none;
	background:none;
}
#header #cart .heading a span {
	/*background: #FFFFFF url('../image/arrow-down.png') 100% 50% no-repeat;
	padding-right: 15px;*/
	font-size:15px;
}
#header #cart .content {
	clear: both;
	display: none;
	position: relative;
	top: -1px;
	/*padding: 8px;*/
	padding:12px;
	min-height: 150px;
	/*border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
	-webkit-border-radius: 0px 7px 7px 7px;
	-moz-border-radius: 0px 7px 7px 7px;
	-khtml-border-radius: 0px 7px 7px 7px;
	border-radius: 0px 7px 7px 7px;
	-webkit-box-shadow: 0px 2px 2px #DDDDDD;
	-moz-box-shadow: 0px 2px 2px #DDDDDD;
	box-shadow: 0px 2px 2px #DDDDDD;*/
	border:1px solid #b4c0cd;
	-webkit-border-radius:0 3px 3px 3px;
	-moz-border-radius:0 3px 3px 3px;
	border-radius:0 3px 3px 3px;
	background: #FFF;
	-webkit-box-shadow:0 1px 5px 0px rgba(0,0,0, .1);
	-moz-box-shadow:0 1px 5px 0px rgba(0,0,0, .1);
	box-shadow:0 1px 5px 0px rgba(0,0,0, .1);
}

#header #cart.active .heading {
	/*margin-top: 5px;
	padding-top: 10px;
	padding-bottom: 6px;
	border-top: 1px solid #EEEEEE;
	border-left: 1px solid #EEEEEE;
	border-right: 1px solid #EEEEEE;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;*/
	background:#fff;
	border-bottom-color:#fff;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
#header #cart.active .heading:hover{
	border:1px solid #b4c0cd;
	border-bottom-color:#fff;
	}
#header #cart.active .content {
	display: block;
}
#header #cart .cart {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 5px;
}
#header #cart .cart td {
	color: #000;
	vertical-align: top;
	padding: 10px 5px;
	border-bottom: 1px solid #EEEEEE;
}
#header #cart .cart .image {
	width: 1px;
}
#header #cart .cart .image img {
	border: 1px solid #EEEEEE;
	text-align: left;
}
#header #cart .cart .name small {
	color: #666;
}
#header #cart .cart .quantity {
	text-align: right;
}
#header #cart .cart td.total {
	text-align: right;
}
#header #cart .cart .remove {
	text-align: right;
}
#header #cart .cart .remove img {
	cursor: pointer;
}
#header #cart table.total {
	border-collapse: collapse;
	padding: 5px;
	float: right;
	clear: left;
	margin-bottom: 5px;
}
#header #cart table.total td {
	color: #000;
}
#header #cart .content .checkout {
	text-align: right;
	clear: both;
}
#header #cart .content .checkout a{
	
	}
#header #cart .content .checkout a {
	display: inline-block;
	padding:0 9px;
	background: url('../image/buttons.png') 0 0 repeat-x;
	text-decoration: none;
	cursor: pointer;
	height:25px;
	line-height:25px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 0px #0c72bd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:none;
}
#header #cart .content .checkout a:visited{
	color:#fff;
	}
#header #cart .content .checkout a:hover {
	/*background: url('../image/button-left-active.png') top left no-repeat;*/
	background-position:0 -25px;
	color:#fff;
}
#header #cart .content .checkout a:active{
	background-position:0 -50px;
	-webkit-box-shadow:inset 0 1px 3px 0px rgba(0,0,0, .2);
	-moz-box-shadow:inset 0 1px 3px 0px rgba(0,0,0, .2);
	box-shadow:inset 0 1px 3px 0px rgba(0,0,0, .2);
	}
*+ html #header #cart .content .checkout a{display:inline; zoom:1;} 
	
	
#header #cart .empty {
	padding-top: 50px;
	text-align: center;
}
#header #search {
	position: absolute;
	top: 70px;
	right: 0px;
	width: 362px;
	z-index: 15;
}
#header .button-search {
	position: absolute;
	right: 2px;
	background: url('../image/search-bg.png') -362px 0 no-repeat;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#header .button-search:hover{
	background-position:-362px -89px;
	}
#header #search input {
	background: #FFF;
	/*padding: 1px 1px 1px 33px;
	width: 262px;
	height: 21px;
	border: 1px solid #CCCCCC;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-khtml-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0px 2px 0px #F0F0F0;
	-moz-box-shadow: 0px 2px 0px #F0F0F0;
	box-shadow: 0px 2px 0px #F0F0F0;	*/
	width:294px;
	height:41px;
	padding:0px 54px 0 14px;
	border:none;
	outline:none;
	background:url(../image/search-bg.png) 0 0 no-repeat;
	font-size:17px;
	color:#b4c0cd;
}
#header #search input:focus{
	background-position:0 -44px;
	}
#header #welcome {
	position: absolute;
	top: 7px;
	left: 0px;
	z-index: 5;
	width: 298px;
	text-align: left;
	color: #fff;
	text-shadow:0 -1px 0px #282d32;
	font-size:12px;
}
#header #welcome a{
	text-decoration:none;
	color: #88DBFF;
}
#header #welcome a:hover{
	text-decoration: underline;
	color: #74CE00;
	}
#header #welcome a:active {
	color: white;
	text-decoration: none;
	text-shadow:none;
	}
#header .links {
	position: absolute;
	right: 0px;
	top: 42px;
	font-size: 10px;
	text-align:right;
}
#header .links a {
	/*float: left;
	display: block;*/
	margin: 0px 0px 0px 20px;
	
	text-decoration: none;
	font-size: 13px;
}
#header .links a + a {
	/*margin-left: 8px;*/
}
/* menu */
#menu {
	/*border-bottom: 1px solid #000000;
	height: 37px;*/
	margin-bottom: 4px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0px 1px 2px rgba(49,54,59,.4);
	-moz-box-shadow: 0px 1px 2px rgba(49,54,59,.4);
	box-shadow: 0px 1px 2px rgba(49,54,59,.4);
	/*padding: 0px 5px;*/
	height:41px;
	background:url(../image/menu-bg.gif) 0 0 repeat-x;
}
#menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#menu > ul > li {
	position: relative;
	float: left;
	margin:0 4px;
	z-index: 20;	
}
#menu > ul > li:hover {
	background:url(../image/menu-bg.gif) 0 100% repeat-x;
	
}
#menu > ul > li:hover a{
	text-shadow:0 -1px 0 #373c3f;
	}
#menu > ul > li > a {
	font-size: 13px;
	color: #FFF;
	line-height: 41px;
	text-shadow:0 -1px 0 #267291;
	text-decoration: none;
	display: block;
	padding: 0 10px;
	z-index: 6;
	position: relative;
	height:41px;
}
#menu > ul > li > div {
	display: none;
	background: #FFFFFF;
	position: absolute;
	z-index: 5;
	padding: 10px 10px 0;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	background: #30363b;
	margin-top:-2px;
}
#menu > ul > li:hover > div {
	display: table;
}
#menu > ul > li > div > ul {
	display: table-cell;
}
#menu > ul > li > div > ul > li{
	margin:0 0 10px 0;
	}
#menu > ul > li ul + ul {
	padding-left: 20px;
}
#menu > ul > li ul > li > a {
	text-decoration: none;
	padding: 4px;
	color: #FFFFFF;
	display: block;
	white-space: nowrap;
	min-width: 120px;
}
#menu > ul > li ul > li > a:hover {
	
}
#menu > ul > li > div > ul > li > a {
	color: #FFFFFF;
	text-shadow:0 -1px 0 #222629;
	padding:4px;
	display:block;
}
#menu > ul > li > div > ul > li > a:hover{
	background:#1a92c7;
	}

.breadcrumb {
	color: #4f4f4f;
	margin: 7px 0 10px 0;
	background: #f0f3f5;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	padding: 4px 8px 5px 8px;
}
.success, .warning, .attention, .information {
	padding: 12px 10px 12px 10px;
	margin:5px 0 3px 0;
	color: #555555;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	font-size:13px;
	text-shadow:0 1px 0 #fff;
	position:relative;
}
.success {
	/*background: #EAF7D9 url('../image/success.png') 10px center no-repeat;*/
	border: 1px solid #fae18b;
	color:#7e6114;
	padding-left:35px;
	background-color: #fffcd3;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fffddf), to(#fffac3));
	background-image: -webkit-linear-gradient(top, #fffddf, #fffac3);
	background-image:    -moz-linear-gradient(top, #fffddf, #fffac3);
	background-image:     -ms-linear-gradient(top, #fffddf, #fffac3);
	background-image:      -o-linear-gradient(top, #fffddf, #fffac3);
	background-image:         linear-gradient(to bottom, #fffddf, #fffac3);
}
.success:before{
	content:'.';
	text-indent:-9999px;
	background:url(../image/message-icons.png) 0 0 no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	top:50%;
	margin-top:-7px;
	left:10px;
	}
.warning {
	/*background: #FFD1D1 url('../image/warning.png') 10px center no-repeat;
	border: 1px solid #F8ACAC;*/
}
.attention {
	background: #FFF5CC url('../image/attention.png') 10px center no-repeat;
	border: 1px solid #F2DD8C;
}
.success .close, .warning .close, .attention .close, .information .close {
	float: right;
	padding-top: 4px;
	padding-right: 4px;
	cursor: pointer;
}
.required {
	color: #FF0000;
	font-weight: bold;
}
.warning {
	display: block;
	color: #FF0000;
	border: 1px solid #fcb5b5;
	color:#793434;
	padding-left:35px;
	background-color: #ffe0e0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe9e9), to(#ffd3d3));
	background-image: -webkit-linear-gradient(top, #ffe9e9, #ffd3d3);
	background-image:    -moz-linear-gradient(top, #ffe9e9, #ffd3d3);
	background-image:     -ms-linear-gradient(top, #ffe9e9, #ffd3d3);
	background-image:      -o-linear-gradient(top, #ffe9e9, #ffd3d3);
	background-image:         linear-gradient(to bottom, #ffe9e9, #ffd3d3);
}
.warning:before{
	content:'.';
	text-indent:-9999px;
	background:url(../image/message-icons.png) 0 100% no-repeat;
	width:16px;
	height:15px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	left:10px;
	}
.error {
	color: #e71b1b;
	display: block;
	margin: 4px 0 10px;
	font-size: 11px;
}
.help {
	color: #999;
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Geneva, sans-serif;
	display: block;
}
table.form {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
table.form tr td:first-child {
	width: 140px;
	vertical-align: top;
	padding-top: 3px;
	padding-left: 4px;
}
table.form > * > * > td {
	color: #3e4348;
}
table.form td {
	padding: 0 0 3px 0;
}
input.large-field, select.large-field {
	width: 300px;
}
table.list {
	border-collapse: collapse;
	width: 100%;
	/*border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;*/
	margin-bottom: 20px;
}
table.list td {
	border:1px solid #e1e6eb;
	border-top:none;
}
table.list tr td:first-child{
	border-left:none;
	}
table.list tr td:last-child{
	border-right:none;
	}
table.list thead td {
	background-color: #f0f3f5;
	border-color: #f0f3f5;
	padding: 5px 10px;
	border-top:none;
	border-bottom:none;
}
table.list thead tr td:first-child{
	/*-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;*/
	
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	}
table.list thead tr td:last-child{
	/*-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;*/
	
	-webkit-border-top-right-radius:3px;
	-webkit-border-bottom-right-radius:3px;
	-moz-border-radius-topright:3px;
	-moz-border-radius-bottomright:3px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	}
table.list thead td a, .list thead td {
	text-decoration: none;
	color: #222222;
	font-weight: bold;
}
table.list tbody td a {
	text-decoration: underline;
}
table.list tbody td {
	vertical-align: top;
	padding: 10px;
}
table.list tbody tr td:last-child{
	text-align:right;
	}

table.list .left {
	text-align: left;
	padding: 7px;
}
table.list .right {
	text-align: right;
	padding: 7px;
}
table.list .center {
	text-align: center !important;
	/*padding: 7px;*/
}
.pagination {
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	text-align: center;
}
.pagination .links {
	margin-bottom: 11px;
}
.pagination .links a {
	display: inline-block;
	border: 1px solid #B4C0CD;
	padding: 5px 10px;
	text-decoration: none;
	color: #1A92C7;
	border-radius: 2px;
	background: #fff;
	background: -moz-linear-gradient(top,  #fff 40%, #eceff2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#fff), color-stop(100%,#eceff2));
	background: -webkit-linear-gradient(top,  #fff 40%,#eceff2 100%);
	background: -o-linear-gradient(top,  #fff 40%,#eceff2 100%);
	background: -ms-linear-gradient(top,  #fff 40%,#eceff2 100%);
	background: linear-gradient(top,  #fff 40%,#eceff2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eceff2',GradientType=0 );
	box-shadow: inset 0 -1px 1px #fff;
}
	.pagination .links a:hover {
		border-color: #26ade4;
	}
	.pagination .links a:active {
		border-color: #b4c0cd;
		color: #30363b;
		background: #fff;
		background: -moz-linear-gradient(top,  #e2e7ec 0%, #ffffff 60%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e7ec), color-stop(60%,#ffffff));
		background: -webkit-linear-gradient(top,  #e2e7ec 0%,#ffffff 60%);
		background: -o-linear-gradient(top,  #e2e7ec 0%,#ffffff 60%);
		background: -ms-linear-gradient(top,  #e2e7ec 0%,#ffffff 60%);
		background: linear-gradient(top,  #e2e7ec 0%,#ffffff 60%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e7ec', endColorstr='#ffffff',GradientType=0 );
		box-shadow: inset 0 1px 1px #d1d8e0;
	}
.pagination .links b {
	display: inline-block;
	border: 1px solid #DAE0E7;
	padding: 5px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #30363B;
	background: #FFFFFF;
	border-radius: 2px;
}
.pagination .results {
	
	padding-top: 3px;
	color:#acb7c2;
}
/* button */
.button {
	display: inline-block;
	padding:0 9px;
	background: url('../image/buttons.png') 0 0 repeat-x;
	text-decoration: none;
	cursor: pointer;
	height:25px;
	line-height:25px;
	font-size:13px;
	font-weight:bold;
	color:#fff;
	text-shadow:0 -1px 0px #0c72bd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.button:visited{
	color:#fff;
	}
.button span {
	/*color: #FFFFFF;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	padding: 6px 12px 8px 5px;
	background: url('../image/button-right.png') top right no-repeat;*/
}
.button:hover {
	/*background: url('../image/button-left-active.png') top left no-repeat;*/
	background-position:0 -25px;
	color:#fff;
}
.button:active{
	background-position:0 -50px;
	-webkit-box-shadow:inset 0 1px 3px 0px rgba(0,0,0, .2);
	-moz-box-shadow:inset 0 1px 3px 0px rgba(0,0,0, .2);
	box-shadow:inset 0 1px 3px 0px rgba(0,0,0, .2);
	}
.button:hover span {
	/*color: #FFFFFF;
	background: url('../image/button-right-active.png') top right no-repeat;*/
}
.buttons {
	background: #FFFFFF;
	/*border: 1px solid #EEEEEE;*/
	overflow: auto;
	/*padding: 6px;*/
	margin-bottom: 20px;
}
.buttons .left {
	float: left;
	/*text-align: left;*/
}
.buttons .right {
	float: right;/*
	text-align: right;*/
}
.buttons .center {
	/*text-align: center;*/
	margin-left: auto;
	margin-right: auto;
}
.htabs {
	height: 30px;		
	line-height: 16px;
	border-bottom: 1px solid #b4c0cd;	
}
.htabs a {
	border: 1px solid #b4c0cd;
	/*background: #FFFFFF url('../image/tab.png') repeat-x;*/
	padding: 7px 15px 6px 15px;
	float: left;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	
	margin-right: 1px;
	
	display: none;
	
	position:relative;
	top:0px;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	border-color:#c3cdd8;
	border-bottom-color:#b4c0cd;
	background-color: #b2becb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#c3cdd8), to(#9dacbc));
	background-image: -webkit-linear-gradient(top, #c3cdd8, #9dacbc);
	background-image:    -moz-linear-gradient(top, #c3cdd8, #9dacbc);
	background-image:     -ms-linear-gradient(top, #c3cdd8, #9dacbc);
	background-image:      -o-linear-gradient(top, #c3cdd8, #9dacbc);
	background-image:         linear-gradient(to bottom, #c3cdd8, #9dacbc);
	text-shadow:0 -1px 0 #a3acb7;
	color:#fff;
	
	
}
.htabs a.selected {
	
	border: 1px solid #b4c0cd;
	text-shadow:0 1px 0 #fff;
	color: #30363b;
	background-color: #f8fafb;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeef1));
	background-image: -webkit-linear-gradient(top, #ffffff, #eaeef1);
	background-image:    -moz-linear-gradient(top, #ffffff, #eaeef1);
	background-image:     -ms-linear-gradient(top, #ffffff, #eaeef1);
	background-image:      -o-linear-gradient(top, #ffffff, #eaeef1);
	background-image:         linear-gradient(to bottom, #ffffff, #eaeef1);
}
.htabs a:hover{
	border-color:#31a7d3;
	border-bottom-color:#1a92c7;
	background-color: #1990c5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#31a7d3), to(#1077b4));
	background-image: -webkit-linear-gradient(top, #31a7d3, #1077b4);
	background-image:    -moz-linear-gradient(top, #31a7d3, #1077b4);
	background-image:     -ms-linear-gradient(top, #31a7d3, #1077b4);
	background-image:      -o-linear-gradient(top, #31a7d3, #1077b4);
	background-image:         linear-gradient(to bottom, #31a7d3, #1077b4);
	color:#fff;
	text-shadow:0 -1px 0 #16698d;
	}

.tab-content {
	padding: 20px 0;
	margin-bottom: 20px;
	z-index: 2;
	overflow: auto;
	font-size:15px;
}
/* box */
.box {
	margin-bottom: 20px;
}
.box .box-heading, h2.carousel-title {
	/*-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-khtml-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
	border: 1px solid #DBDEE1;
	background: url('../image/background.png') repeat-x;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;*/
	font-size:17px;
	margin:0 0 12px 0;
	font-weight:bold;
	color:#30363b;
}
.box .box-content {
	/*background: #FFFFFF;
	-webkit-border-radius: 0px 0px 7px 7px;
	-moz-border-radius: 0px 0px 7px 7px;
	-khtml-border-radius: 0px 0px 7px 7px;
	border-radius: 0px 0px 7px 7px;
	border-left: 1px solid #DBDEE1;
	border-right: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	padding: 10px;*/
	
}
#column-left  .box, #column-right  .box{
	-webkit-box-shadow:0 1px 2px 0px rgba(0,0,0, .1);
	-moz-box-shadow:0 1px 2px 0px rgba(0,0,0, .1);
	box-shadow:0 1px 2px 0px rgba(0,0,0, .1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	}
#column-left  .box-category, #column-right  .box-category{
	margin:0;
	}
#column-left .box .box-heading, #column-right .box .box-heading{
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	-khtml-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	border: 1px solid #b4c0cd;
	background:#fff url('../image/box-header-bg.png') 0 100% repeat-x;
	padding: 8px 10px 7px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	color: #333;
	margin:0px;
	
	}
#column-left .box .box-content ul, #column-right .box .box-content ul{
	margin:0px;
	}
#column-left .box .box-content, #column-right .box .box-content{
	background: #FFFFFF;
	-webkit-border-radius: 0px 0px 3px 3px;
	-moz-border-radius: 0px 0px 3px 3px;
	-khtml-border-radius: 0px 0px 3px 3px;
	border-radius: 0px 0px 3px 3px;
	border-left: 1px solid #b4c0cd;
	border-right: 1px solid #b4c0cd;
	border-bottom: 1px solid #b4c0cd;
	border-bottom:1px solid #b4c0cd;
	padding: 0px;
	}
/* box products */
.box-product {
/*	width: 970px;*/
	overflow: auto;
}
.box-product > div {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	margin-left: 16px;
	margin-bottom: 20px;	
	text-align:center;
	position:relative;
}

.box-product > div:first-child{
	margin-left:0px;
}
.box-product > div:hover .cart .button{
	display:inline-block;
	}
#column-left + #column-right + #content .box-product > div {
	width: 119px;
}
.box-product .image {
	display: block;
	margin-bottom: 7px;
}
.box-product .image a{
	background:none;
	}
.box-product .image img {
	border-top: 1px solid #B4C0CD;
	border-bottom: 1px solid #B4C0CD;
}
.box-product .name a, .box-product .name a:active {
	color: #38B0E3;
	font-weight: bold;
	text-decoration: none;
	display: block;
	margin-bottom: 10px;
	text-transform:uppercase;
	background:none;
}
#column-left .box-product .cart, #column-right .box-product .cart{
	display:none !important;
}

.column-right .box-product .image img {
	border: none;
}
.box-product .cart{
	position:absolute;
	bottom:75px;
	width:100%;
	left:0px;
	}
	.box-product .cart .button{
		display:none;
		height:29px;
		line-height:29px;
		background-position:0 -75px !important;
		text-shadow:0 -1px 0 #62a600;
		font-size:15px;
		}
		.box-product .cart .button:hover{
			background-position:0 -104px !important;
			}
		.box-product .cart .button:active{
			background-position:0 -132px !important;
			}
	.box-product .cart .button, #button-cart{
		background-position:0 -75px;
		text-shadow:0 -1px 0 #579100;
		height: 29px;
		line-height: 29px;
		font-size: 15px;
		}
	.box-product .cart .button:hover, #button-cart:hover{
		background-position:0 -104px;
		}
	.box-product .cart .button:active, #button-cart:active{
		background-position:0 -132px;
		}
.box-product .price {
	display: block;
	font-weight: bold;
	font-size:19px;
	color: #30363b;
	margin-bottom: 4px;
}
.box-product .price-old {
	color: #ccc;
	text-decoration: line-through;
	font-weight: normal;
}
.box-product .price-new {
	font-weight: bold;
}
.box-product .rating {
	display: block;
	margin-bottom: 4px;
}
/* box category */
.box-category {
	margin-top: -5px;
}
.box-category ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-category > ul > li {
	
}
.box-category > ul > li:hover{
	
	}
.box-category > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.box-category > ul > li > a {
	text-decoration: none;
	background:none;
	display:block;
	padding: 10px 11px;
	color:#1a92c7;
}
.box-category > ul > li > a:hover{
	background:#f0f3f5;
}
.box-category > ul > li ul {
	display: none;
}
.box-category > ul > li a.active {
	/*font-weight: bold;*/
	color:#30363b;
	background:none;
}
.box-category > ul > li a.active + ul {
	display: block;
}
.box-category > ul > li ul > li {
	padding: 0px 5px 10px 26px;
	list-style:none;
}
.box-category > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-category > ul > li ul > li > a.active {
	font-weight: bold;
}



/**/

.box-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.box-content > ul > li {
	
}
.box-content > ul > li:hover{
	
	}
.box-content > ul > li + li {
	border-top: 1px solid #EEEEEE;
}
.box-content > ul > li > a {
	text-decoration: none;
	background:none;
	display:block;
	padding: 10px 9px;
	color:#1a92c7;
}
.box-content > ul > li > a:hover{
	background:#f0f3f5;
}
.box-content > ul > li ul {
	display: none;
}
.box-content > ul > li a.active {
	/*font-weight: bold;*/
	color:#30363b;
	background:none;
}
.box-content > ul > li a.active + ul {
	display: block;
}
.box-content > ul > li ul > li {
	padding: 0px 5px 10px 17px;
	list-style:none;
}
.box-content > ul > li ul > li > a {
	text-decoration: none;
	display: block;
}
.box-content > ul > li ul > li > a.active {
	font-weight: bold;
}

/**/
/* content */
#content .content#shipping{
	
	}
	#content .content#shipping select{
		width:270px;
		}
	#content .content#shipping input[type="text"]{
		width:262px;
		}
#content .content {
	padding: 10px;
	overflow: auto;
	margin-bottom: 20px;
	border: 1px solid #e1e6eb;
}
#content .content.account{
	padding:0px;
	border:none;
	margin:0 0 35px 0;
	}
	#content .content.account ul{
		list-style:none;
		padding-left:10px;
		line-height:20px;
		margin:0px;
		}
		#content .content.account ul a{
			text-decoration:none;
			}
#content .content .left {
	float: left;
	width: 49%;
}
#content .content .right {
	float: right;
	width: 49%;
}
/* category */
.category-info {
	overflow: auto;
	margin-bottom: 15px;
	margin-top: 10px;
}
.category-info p{
	margin-bottom:0px;
	}
.category-info .image {
	float: left;
	margin-right: 20px;
}
.category-info .image img{
	width:100px;
	}
.category-list {
	overflow: auto;
	margin-bottom: 20px;
}
.category-list ul {
	float: left;
	width: 18%;
	margin: -3px 0 10px 0;
	padding: 0 30px 0 0;
	list-style: none;
	white-space: nowrap;
}

.category-list .div a {
	text-decoration: underline;
	font-weight: bold;
}
/* manufacturer */
.manufacturer-list {
	border: 1px solid #DBDEE1;
	padding: 5px;
	overflow: auto;
	margin-bottom: 20px;
}
.manufacturer-heading {
	background: #F8F8F8;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 8px;
	margin-bottom: 6px;
}
.manufacturer-content {
	padding: 8px;
}
.manufacturer-list ul {
	float: left;
	width: 25%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 10px;
}
/* product */
.product-filter {
	border-bottom: 1px solid #b4c0cd;
	padding-bottom: 5px;
	margin-bottom: 6px;
	overflow: hidden;
}
.product-filter .display {
	margin-left: 15px;
	float: right;
	margin-top: 4px;
	color: #333;
	height: 22px;
	line-height: 22px;
}
.product-filter .display b {
	vertical-align: top;
}
/*.product-filter .display a {
	font-weight: bold;
}*/
.product-filter .display .show-list,.product-filter .display .show-grid {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url('../image/display-icons.png') top left no-repeat;
}
	.product-filter .display a.show-list {
		background-position: 0 0;
	}
		.product-filter .display a.show-list:hover {
			background-position: -22px 0;
		}
		.product-filter .display a.show-list:active {
			background-position: -44px 0;
		}
		.product-filter .display span.show-list {
			background-position: -66px 0;
		}
	.product-filter .display a.show-grid {
		background-position: 0 -22px;
	}
		.product-filter .display a.show-grid:hover {
			background-position: -22px -22px;
		}
		.product-filter .display a.show-grid:active {
			background-position: -44px -22px;
		}
		.product-filter .display span.show-grid {
			background-position: -66px -22px;
		}
.product-filter .sort {
	float: left;
	color: #333;
}
.product-filter .limit {
	margin-right: 15px;
	float: left;
	color: #333;
}
.product-compare {
	/*padding-top: 6px;*/
	margin-bottom: 10px;
	font-weight: bold;
	text-align:right;
}
.product-compare a {
	text-decoration: none;
	font-weight: bold;
}
.product-list > div {
	overflow: auto;
	padding:0 0 10px 0;
}
.product-list .right {
	float: right;
	margin-left: 15px;
}
.product-list > div + div {
	border-top: 1px solid #e1e6eb;
}
.product-list .image {
	float: left;
	margin-right: 20px;
}
.product-list .image a{
	background:none !important;
	}
.product-list .image img {

}
.product-list .name {
	margin-bottom: 8px;
	margin-top:40px;
}
.product-list .name a {
	font-weight: bold;
	text-decoration: none;
	font-size:17px;
}
.product-list .description {
	line-height: 20px;
	font-size:15px;
	margin-bottom: 8px;
	color: #000;
}
.product-list .rating {
	color: #7B7B7B;
	padding-bottom: 8px;
	margin-top: -6px;
}
.product-list .price {
	font-size:19px;
	color:#30363b;
	font-weight:bold;
	display:block;
	margin-bottom:10px;
}
.product-list .price-old {
	color: #ccc;
	text-decoration: line-through;
	font-weight: normal;
}
.product-list .price-new {
	font-weight: bold;
}
.product-list .price-tax {
	font-size: 12px;
	font-weight: normal;
	color: #BBBBBB;
	display:none;
}
.product-list .cart {
	margin-bottom: 3px;
	display:inline-block;
}
.product-list .cart .button{
	height:29px;
	line-height:29px;
	font-size:15px;
	background-position:0 -75px;
	text-shadow:0 -1px 0 #62a600;
	}
	.product-list .cart .button:hover{
		background-position:0 -104px;
		}
	.product-list .cart .button:active{
		background-position:0 -132px;
		}
.product-list .wishlist, .product-list .compare {
	margin-bottom: 3px;
	margin-left:20px;
	display:inline-block;
	font-size:11px;
}
.product-list .wishlist a {
	color: #919fae;
}
.product-list .compare a {
	color: #919fae;
}
.product-grid {
	width: 720px;
	overflow: auto;
}
.product-grid > div {
	width: 220px;
	display: inline-block;
	vertical-align: top;
	margin-right: 16px;
	margin-bottom: 60px;
	text-align:center;
	position:relative;
}
.product-grid > div:hover .cart{
	display:block;
	}
#column-left + #column-right + #content .product-grid > div {
	width: 125px;
}
.product-grid .image {
	display: block;
	margin-bottom: 10px;
}
.product-grid .cart .button{
	height:29px;
	line-height:29px;
	background-position:0 -75px;
	font-size: 15px;
	text-shadow:0 -1px 0 #62a600;
	}
	.product-grid .cart .button:hover{
		background-position:0 -104px;
		}
	.product-grid .cart .button:active{
		background-position:0 -132px;
		}
.product-grid .image a{
	background:none !important;
	}
.product-grid .image img {
	border-bottom:1px solid #B4C0CD;
	border-top:1px solid #B4C0CD;
}
	.product-grid div:nth-child(-n+3) .image img {
		border-top: none;
	}
.product-grid .name {
	margin-bottom:5px;
	}
.product-grid .name a {
	font-size:13px;
	font-weight: bold;
	text-decoration: none;
}
.product-grid .description {
	display: none;
}
.product-grid .rating {
	display: block;
	margin-bottom: 4px;
}
.product-grid .price {
	display: block;
	font-weight: bold;
	color: #30363b;
	font-size:19px;
	margin-bottom: 5px;
}
.product-grid .price-old {
	color: #ccc;
	text-decoration: line-through;
	font-weight: normal;
}
.product-grid .price-new {
	font-weight: bold;
}
.product-grid .price .price-tax {
	display: none;
}
.product-grid .cart {
	margin-bottom: 3px;
	position:absolute;
	top:50%;
	left:0px;
	width:100%;
	display:none;
}
.product-grid .wishlist, .product-grid .compare {
	margin-bottom: 3px;
}
.product-grid .wishlist a {
	color: #919fae;
	font-size:11px;
}
.product-grid .compare a {
	color: #919fae;
	font-size:11px;
}
/* Product */
.product-info {
	overflow: auto;
	margin-bottom: 20px;
}
.product-info > .left {
	float: left;
	margin-right: 15px;
}
.product-info > .left + .right {
	margin-left: 315px;
	padding:15px;
	border:1px solid #e1e6eb;
	-webkit-border-radois:3px;
	-moz-border-radois:3px;
	border-radois:3px;
}
.product-info .image {
	float: left;
	margin-bottom: 20px;
	text-align: center;
}
.product-info .image-additional {
	width: 260px;
	margin-left: -10px;
	clear: both;
	overflow: hidden;
	border-top: 1px solid #E1E6EB;
	padding-top: 20px;
}
.product-info .image-additional img {
	/*border: 1px solid #E7E7E7;*/
}
.product-info .image-additional a {
	float: left;
	display: block;
	margin-left: 10px;
	margin-bottom: 10px;
	background:none;
}
.product-info .description {
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	line-height: 20px;
	color: #4D4D4D;
}
.product-info .description span {
	color: #7f8c99;
}
.product-info .description a {
	text-decoration: none;
}
.product-info .price {
	overflow: auto;
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 14px 5px;
	margin-bottom: 14px;
	font-size: 19px;
	font-weight: bold;
	color: #30363b;
	line-height:1;
}
.product-info .price-old {
	color: #ccc;
	text-decoration: line-through;
	font-weight: normal;
}
.product-info .price-new {
	
}
.product-info .price-tax {
	font-size: 13px;
	font-weight: normal;
	color: #bdc4cb;
}
.product-info .price .reward {
	font-size: 12px;
	font-weight: normal;
	color: #999;
}
.product-info .price .discount {
	font-weight: normal;
	font-size: 12px;
	color: #30363B;
	line-height: 1.4em;
}
.product-info .options {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 10px 5px;
	margin-bottom: 10px;
	color: #30363B;
}
.product-info .option-image {
	margin-top: 3px;
	margin-bottom: 10px;
}
.product-info .option-image label {
	display: block;
	width: 100%;
	height: 100%;
}
.product-info .option-image img {
	margin-right: 5px;
	border: 1px solid #CCCCCC;
	cursor: pointer;
}
.product-info .cart {
	border-bottom: 1px solid #E7E7E7;
	padding: 0px 5px 14px 5px;
	/*margin-bottom: 20px;*/
	color: #4D4D4D;
	overflow: auto;
}
.product-info .cart div {
	float: left;
	vertical-align: middle;
	color: #7f8c99;
}
	.product-info .cart div input[type="text"] {
		margin: 1px;
		font-size: 15px;
		font-weight: bold;
		padding: 4px 4px 5px 4px;
		width: 2.5em;
	}
.product-info .cart div > span {
	padding-top: 7px;
	display: block;
	color: #999;
}
.product-info .cart .minimum {
	padding-top: 5px;
	font-size: 11px;
	color: #999;
	clear: both;
}
.product-info .review {
	color: #4D4D4D;
	/*border-top: 1px solid #E7E7E7;
	border-left: 1px solid #E7E7E7;
	border-right: 1px solid #E7E7E7;
	margin-bottom: 14px;*/
}
.product-info .review > div {
	padding: 8px 0;
	border-bottom: 1px solid #E7E7E7;
	line-height: 20px;
}
.product-info .review > div > span {
	color: #38B0E3;
}
.product-info .review .share {
	overflow: auto;
	line-height: normal;
	border:none;
}
.product-info .review .share a {
	text-decoration: none;
}
.attribute {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #E1E6EB;
}
.attribute thead td, .attribute thead tr td:first-child {
	color: #3e4348;
	font-size: 13px;
	font-weight: bold;
	background: #F0F3F5;
	text-align: left;
	border: none;
}
.attribute tr td:first-child {
	color: #3E4348;
	font-weight: normal;
	border-right: 1px solid #E1E6EB;
	width: 20%;
}
.attribute td {
	padding: 4px;
	color: #3E4348;
	text-align: left;
	vertical-align: top;
	border-bottom: 1px solid #E1E6EB;
}
.attribute tr:last-child td {
	border-bottom: none;
}
.compare-info {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px;
	border-bottom: 1px solid #E1E6EB;
}
.compare-info thead td, .compare-info thead tr td:first-child {
	color: #3e4348;
	font-size: 13px;
	font-weight: bold;
	border: none;
	background: #F0F3F5;
	text-align: left;
}
.compare-info tr td:first-child {
	color: #3e4348;
	text-align: right;
}
.compare-info tr td:last-child {
	color: #3e4348;
	border-right: none;
}
.compare-info tr:last-child td {
	border-bottom: none;
}
.compare-info td {
	padding: 4px;
	width: 20%;
	color: #3e4348;
	text-align: center;
	vertical-align: top;
	border-right: 1px solid #E1E6EB;
	border-top: 1px solid #E1E6EB;
}
.compare-info .name a {
	font-weight: bold;
}
.compare-info .price-old {
	color: #ccc;
	text-decoration: line-through;
}
.compare-info .price-new {
	font-weight: bold;
}
/* wishlist */
.wishlist-product table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	margin-bottom: 20px;
}
.wishlist-product td {
	padding: 7px;
}
.wishlist-product thead td {
	color: #4D4D4D;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product thead .remove, .wishlist-product thead .image, .wishlist-product thead .cart {
	text-align: center;
}
.wishlist-product thead .name, .wishlist-product thead .model, .wishlist-product thead .stock {
	text-align: left;
}
.wishlist-product thead .quantity, .wishlist-product thead .price, .wishlist-product thead .total {
	text-align: right;
}
.wishlist-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #DDDDDD;
}
.wishlist-product tbody .remove {
	vertical-align: middle;
}
.wishlist-product tbody .remove, .wishlist-product tbody .image, .wishlist-product tbody .cart {
	text-align: center;
}
.wishlist-product tbody .name, .wishlist-product tbody .model, .wishlist-product tbody .stock {
	text-align: left;
}
.wishlist-product tbody .quantity, .wishlist-product tbody .price, .wishlist-product tbody .total {
	text-align: right;
}
.wishlist-product tbody .price s {
	color: #F00;
}
.login-content {
	margin-bottom: 20px;
	overflow: auto;
}
.login-content .left {
	float: left;
	width: 48%;
}
.login-content .right {
	float: right;
	width: 48%
}
.login-content .left .content, .login-content .right .content {
	min-height: 190px;
}
/* orders */
.order-list {
	margin-bottom: 10px;
}
.order-list .order-id {
	width: 340px;
	float: left;
	margin-bottom: 2px;
	background:#f0f3f5;
	padding-left:10px;
	font-size:15px;
	line-height:25px;
	height:25px;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.order-list .order-status {
	width: 340px;
	float: right;
	text-align: right;
	margin-bottom: 2px;
	background:#f0f3f5;
	padding-right:10px;
	line-height:25px;
	height:25px;
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
}
.order-list .order-content {
	padding: 10px 0 0 0;
	display: inline-block;
	width: 680px;
	margin-left:10px;
	margin-bottom: 25px;
}
.order-list .order-content div {
	float: left;
	width: 20%;
}
.order-list .order-info {
	text-align: right;
}
.order-list .order-info a img {
	margin-right: 3px;
	position: relative;
	bottom: -3px;
}
.list.order-details {
	color: #3E4348;
}
.list.order-details thead tr td {
	background: transparent;
	border: none;
	font-size: 15px;
	padding: 0px;
}
.list.order-details tbody tr td:last-child {
	text-align: left;
}
.list.order-details tbody tr td {
	border: none;
	width: 50%;
}
.list.order-details tbody tr td span {
	color: #808C99;
}


.order-detail {
	background: #EFEFEF;
	font-weight: bold;
}
/* returns */
.return-list {
	margin-bottom: 10px;
}
.return-list .return-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.return-list .return-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.return-list .return-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.return-list .return-content div {
	float: left;
	width: 33.3%;
}
.return-list .return-info {
	text-align: right;
}
.return-product {
	overflow: auto;
	margin-bottom: 20px;
}
.return-name {
	float: left;
	width: 33.3%;
}
.return-model {
	float: left;
	width: 33.3%;
}
.return-quantity {
	float: left;
	width: 33.3%;
}
.return-detail {
	overflow: auto;
	margin-bottom: 20px;
}
.return-reason {
	float: left;
	width: 33.3%;
}
.return-opened {
	float: left;
	width: 33.3%;
}
.return-opened textarea {
	width: 98%;
	vertical-align: top;
}
.return-remove {
	float: left;
	width: 33.3%;
	padding-top: 90px;
	text-align: center;
	vertical-align: middle;
}
.return-additional {
	overflow: auto;
	margin-bottom: 20px;
}
.return-comment {
	float: left;
	width: 49%;
}
.return-captcha {
	float: right;
	width: 49%;
}
.download-list {
	margin-bottom: 10px;
}
.download-list .download-id {
	width: 49%;
	float: left;
	margin-bottom: 2px;
}
.download-list .download-status {
	width: 49%;
	float: right;
	text-align: right;
	margin-bottom: 2px;
}
.download-list .download-content {
	padding: 10px 0px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	border-top: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}
.download-list .download-content div {
	float: left;
	width: 33.3%;
}
.download-list .download-info {
	text-align: right;
}
/* cart */
.cart-info table {
	width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	
}

.cart-info td {
	padding: 10px;
	border:1px solid #e1e6eb;
	border-top:none;
}
.cart-info thead td {
	color: #3e4348;
	font-weight: bold;
	background-color: #F7F7F7;
	border-bottom: 1px solid #E1E6EB;
}
.cart-info thead .remove, .cart-info thead .image {
	text-align: center;
}
.cart-info thead .name, .cart-info thead .model {
	text-align: left;
}
.cart-info thead .quantity, .cart-info thead .total {
	text-align: right;
}

.cart-info thead td {
	background-color: #f0f3f5;
	border-color: #f0f3f5;
	padding: 5px 10px;
	border-top:none;
	border-bottom:none;
}
.cart-info thead tr td:first-child{
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	}
.cart-info thead tr td:last-child{
	-webkit-border-radius:0 3px 3px 0;
	-moz-border-radius:0 3px 3px 0;
	border-radius:0 3px 3px 0;
	}
.cart-info .image {
	width: 100px;
}
.cart-info .quantity {
	width: 100px;
}
.cart-info .quantity input[type="text"] {
	text-align: center;
}
.cart-info .quantity input[type="image"] {
	position: relative;
	bottom: -3px;
}
.cart-info .quantity a {
	position: relative;
	bottom: -3px;
}
.cart-info tr td:first-child{
	border-left:none;
	}
.cart-info tr td:last-child{
	border-right:none;
	}
.cart-info tbody td {
	vertical-align: center;
	border:1px solid #e1e6eb;
	border-top:none;
}
.cart-info tbody .price, .cart-info tbody .total{
	font-weight:bold;
	font-size:15px;
	}
.cart-info tbody .image a{
	background:none;
	}
	.cart-info tbody .image a img{
		padding:3px;
		}
.cart-info tbody .remove {
	vertical-align: middle;
}
.cart-info tbody .remove, .cart-info tbody .image {
	text-align: center;
}
.cart-info tbody .name a{
	font-size:15px;
	text-decoration:none;
	}
.cart-info tbody .name, .cart-info tbody .model {
	text-align: left;
}
.cart-info tbody .quantity,  .cart-info tbody .total {
	text-align: right;
}
.cart-info tbody span.stock {
	color: #F00;
	font-weight: bold;
}

.cart-module > div {
	display: none;
}
.cart-module .cart-heading {
	border: 1px solid #DBDEE1;
	padding: 8px 8px 8px 22px;
	font-weight: bold;
	font-size: 13px;
	color: #555555;
	margin-bottom: 15px;
	cursor: pointer;
	background: #F8F8F8 url('../image/arrow-right.png') 10px 50% no-repeat;
}
.cart-module .active {
	background: #F8F8F8 url('../image/arrow-down.png') 7px 50% no-repeat;
}
.cart-module .cart-content {
	padding: 0px 0px 15px 0px;
	display: none;
	overflow: auto;
}
.cart-module #shipping table td {
	width: 115px;
}
.cart-module #shipping table {
	margin-bottom: 10px;
}
.cart-total {
	overflow: auto;
	padding-top: 8px;
	margin-bottom: 15px;
}
.cart-total table {
	float: right;
}
.cart-total td {
	padding: 3px;
	text-align: right;
}
/* checkout */
.checkout-heading {
	background:#fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAPCAIAAACqfTKuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAC1JREFUeNo8hwkKACAMw8L+/2KPdlXBQkiK7QI+5z8oxZKurbRVO84Yc7UAAwBQkB/qUVijqgAAAABJRU5ErkJggg==) 0 100% repeat-x;
	border: 1px solid #b4c0cd;
	padding: 7px 10px;
	font-weight: bold;
	font-size: 15px;
	color: #30363b;
	margin-bottom: 15px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow:0 1px 3px 0px #f0f0f0;
	-moz-box-shadow:0 1px 3px 0px #f0f0f0;
	box-shadow:0 1px 3px 0px #f0f0f0;
	line-height:1;
}
.checkout-heading.active{border:1px solid #000;}
.checkout-heading a {
	float: right;
	font-size:15px;
	font-weight: normal;
	text-decoration: none;
}
.checkout-content {
	padding: 15px;
	display: none;
	overflow: auto;
	background: #F2F5F7;
	margin-bottom: 15px;
}
.checkout-content .left {
	float: left;
	width: 48%;
}
.checkout-content .right {
	float: left;
}
.checkout-content .buttons {
	clear: both;
	background: transparent;
	margin-bottom: 10px;
}
.checkout-content table.form {
	margin-bottom: 0px;
}
.checkout-product table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
.checkout-product td {
	padding: 7px;
}
.checkout-product thead td {
	color: #3E4348;
	font-weight: bold;
	border-bottom: 1px solid #E1E6EB;
}
.checkout-product thead .name, .checkout-product thead .model {
	text-align: left;
}
.checkout-product thead .quantity, .checkout-product thead .price, .checkout-product thead .total {
	text-align: right;
}
.checkout-product tbody td {
	vertical-align: top;
	border-bottom: 1px solid #E1E6EB;
}
.checkout-product tbody .name, .checkout-product tbody .model {
	text-align: left;
}
.checkout-product tbody .quantity, .checkout-product tbody .price, .checkout-product tbody .total {
	text-align: right;
}
.checkout-product tfoot td {
	text-align: right;
}
.contact-info {
	overflow: auto;
}
.contact-info .left {
	float: left;
	width: 48%;
}
.contact-info .right {
	float: left;
	width: 48%;
}
.sitemap-info {
	overflow: auto;
	margin-bottom: 40px;
}
.sitemap-info .left {
	float: left;
	width: 48%;
}
.sitemap-info .right {
	float: left;
	width: 48%;
}
/* footer */ 
#footer {
	/*clear: both;
	overflow: auto;
	min-height: 100px;
	padding: 20px;
	border-top: 1px solid #DBDEE1;
	border-bottom: 1px solid #DBDEE1;
	background: #F8F8F8;*/
	
}
#footer h3 {
	color: #fff;
	font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
#footer .column {
	float: left;
	width: 25%;
	min-height: 100px;
}
#footer .column ul {
	margin-top: 0px;
	margin-left: 0px;
	padding-left: 0px;
}
#footer .column ul li {
	margin-bottom: 5px;
	list-style:none;
	
}
/*#footer .column a {
	text-decoration: none;
	font-size:13px;
}*/
#footer .column a:hover {
	text-decoration: underline;
}
#powered {
	padding:20px 0;
	text-align: left;
	clear: both;
	width:940px;
	margin:0 auto;
	color:#fff;
}
/* banner */
.banner div {
	text-align: center;
	width: 100%;
}
.banner div img {
	margin-bottom: 20px;
}


.footer-wrap{
	background:#30363b url(../image/footer-bg.png) 0 0 repeat-x;
	font-size:13px;
	/*margin-top:-5px;*/
	}
	.footer-wrap a{
		text-decoration: none;
		font-size: 13px;
		color: #88DBFF;
		}
	.footer-wrap a:hover{
		text-decoration: underline;
		color: #74CE00;
		}
	.footer-wrap a:active{
		color: white;
		text-decoration: none;
		}
	.powered-wrap{
		border-top:1px solid #454a4f
		}
		#powered{
			/*white-space:nowrap;*/
			}
			#powered br{
				display:none;
				}
		.copyright{
			
			}
			.copyright a, #powered .copyright a:hover, #powered .copyright a:active{
				text-decoration:none;
				color:#fff;
				}
				.copyright a .icon{
					width:20px;
					height:21px;
					display:inline-block;
					vertical-align:top;
					margin:-2px 2px 0 0;
					background:url(../image/st-logo.png) 0 0 no-repeat;
					}
	.footer-wrap #footer{
		width:940px;
		margin:0 auto;
		padding:50px 0 15px;
		overflow:hidden;
		}
.mini-cart-info table{	
	border-collapse:collapse;
	width:100%;
	margin:0 0 10px 0;
	}
.mini-cart-info td{
	border-bottom:1px solid #e3e6e6;
	padding-top:15px;
	padding-bottom:15px;
	}
.mini-cart-info td.remove img{cursor:pointer;}
.mini-cart-info td.total{	
	padding-left:15px;
	text-align:right;
	padding-right:7px;
	}
.mini-cart-info td.name{
	padding:0 10px;
	}
	.mini-cart-info td.name a{
		text-decoration:none;
		}
.mini-cart-info td.image{
	width:42px;
	}
.mini-cart-info td.image img{
	border:1px solid #e3e6e6;
	vertical-align:middle;
	width:40px;
	}
.mini-cart-total{
	overflow:hidden;
	}
	.mini-cart-total table{
		float:right;
		margin:0 0 10px 0;
		}
#review {
	float: right;
	width: 420px;
	margin-left: 30px;
	font-size: 13px;
}		
#review .content{
	border:1px solid #e1e6eb;
	padding:10px;
	margin:0 0 20px 0;
	}
	#review .content .date{
		font-size:11px;
		color:#909ba7;
		}
	#review .content img{
		float:right;
		}
#add-review {
	float: left;
	width: 250px;
	font-size: 13px;
	color: #919BA7;
}
#add-review input[type="text"], #add-review textarea {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
#add-review textarea {
	resize: vertical;
}
#add-review input[name="captcha"] {
	width: 150px;
}
#add-review div {
	margin-bottom: 10px;
}
#add-review div input[type="radio"] {
	margin: 0;
}
#add-review div span.txt-message {
	font-size: 10px;
	display: block;
	line-height: 1.2em;
}
#add-review div.review-rating {
	margin-bottom: 22px;
}
#add-review div.review-rating b {
	color: #3E4348;
}

.wish-links{
	
	}
	.product-info .review .share .wish-links a{
		font-size:11px;
		color:#919fae;
		margin-left:15px;
		text-decoration:underline;
		}
